html {
    font-family: "Ubuntu", sans-serif; 
}

body * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.article {
    padding-top: 80px;
    margin-bottom: 120px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.article__title {
    max-width: 596px;
    font-family: "Oswald";
    font-weight: 600;
    text-transform: uppercase;
    line-height: 115%;
    color: #2c332f;
    margin-bottom: 40px;
    font-size: 36px;
}

.article__title-main {
    font-size: 48px;
}

.article__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #535755;
    line-height: 130%;
}

.article__img {
    margin-top: 60px;
    margin-bottom: 80px;
    width: 100%;
}

.article__group {
    margin-bottom: 80px;
}

.article__title-medium {
    font-size: 36px;
    margin-bottom: 40px;
}

.article__group-text {
    margin-bottom: 20px;
    max-width: 744px;
}

.article__group-text,
.article__list,
.article__review-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article__list {
    padding-left: 14px;
    margin-top: 0;
}

.article__list-item {
    margin-bottom: 12px;
}

.article__review-video {
    margin-bottom: 40px;
}